# Keep the entries sorted to reduce the risk for a merge conflict
.DS_Store
*.[ao]
*.dll
*.dll.embed.manifest
*.dll.embed.manifest.res
*.dll.intermediate.manifest
*.dll.resource.txt
*.dylib
*.so
*.so.*
*.exe
*.exe.embed.manifest
*.exe.embed.manifest.res
*.exe.intermediate.manifest
*.exe.resource.txt
*.exp
*.ilk
*.lib
*.pdb
*~
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/Makefile
/Testing/
/cmake_install.cmake
/platform-dirutils-test
/platform-gethrtime-test
/platform-gettimeofday-test
/src/config.h
/install_manifest.txt
